/**
 * Mashery IODocs
 * Styling specific to IODocs pages
 */

//
// Vanilla IO Docs
//

/**
 * The show/hide class
 */
.io-docs-hide {
	display: none;
	visibility: hidden;
}


//
// Traditional IO Docs
//

/**
 * Endpoint and Method Headings
 */
.endpoint h3.title,
.method div.title {
	cursor: pointer;
}

/**
 * Hide all content by default
 */
.credentials,
#controls,
#apiTitle,
#apiKeyContainer,
#apiSecretContainer,
#apiKeySecretListContainer,
#apiOAuth2PresetKeysContainer,
.endpointList,
.apiDescriptionList,
.method form,
.method .parameters tr.hidden {
	display: none;
	overflow: hidden;
}

/**
 * Force width on API select element
 */
#apiId {
	width: auto !important;
}