/**
 * Placeholder Styling
 */

@import "config";
@import "mixins";


@keyframes fadeColor{
	0% {
		background-color: darken($color-gray-light, 7%);
	}

	50% {
		background-color: $color-gray-light;
	}

	100% {
		background-color: darken($color-gray-light, 7%);
	}
}

.loading {

	.placeholder {
		animation: fadeColor 1.5s ease-in infinite;
		background-color: $color-gray-light;
	}

	.placeholder-hero {
		height: 20em;
	}

	.placeholder-heading {
		height: 3em;
		width: 55%;
	}

	.placeholder-sentence {
		height: 1.5em;
		margin-bottom: calc-em(8px);
	}

	.placeholder-sentence-last {
		width: 85%;
	}

	.placeholder-paragraph {
		height: 8em;
		margin-top: $spacing;
	}

	.placeholder-btn {
		height: 3em;
		width: 8em;

	}

	.placeholder-hero,
	.placeholder-heading,
	.placeholder-paragraph,
	.placeholder-btn {
		margin-bottom: $spacing;
	}

}