/**
 * @section Nav
 * Styling for navigation menus.
 */


#nav-user-wrapper {
	background-color: $color-gray-lighter;
}

#nav-user-list {}

#nav-primary {
	background-color: $color-white;
	border-bottom: calc-em(1px) solid $color-gray-light;
	margin-bottom: $spacing;

	.loading &,
	.full-width & {
		margin-bottom: 0;
	}
}

#nav-secondary-list {
	@extend .list-inline;
}

#nav-account {
	@extend .list-inline;
}

#footer {
	background-color: $color-white;
}