/**
 * @section Passwords
 * Styling for password validation.
 */


/**
 * Add checkmark on success completion
 */
#passwd_requirements .valid {
	color: green;

	&:after {
		content: " \2713";
	}
}

/**
 * Style password input form
 */
.passwd_new.valid,
.passwd_again.valid {
	background-color: lighten(green, 65%);
	border-color: green;
	color: green;
}