/**
 * @section SVGs
 * SVG styling.
 */

/**
 * Basic styles
 * Inherit color
 */
.icon {
	display: inline-block;
	fill: currentColor;
}

/**
 * Icon colors
 */

.icon-black { fill: $color-black; }
.icon-gray { fill: $color-gray-dark; }
.icon-primary { fill: $color-primary; }
.icon-secondary { fill: $color-secondary; }
.icon-tertiary { fill: $color-tertiary; }

a:hover .icon-link {
	fill: darken( $color-primary, 15% );
}